/* @import url('http://fonts.cdnfonts.com/css/cursed-timer-ulil'); */
body {
    margin: 10px;
    text-align: center;
    background-color: #020923;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #19244D;
    width: 70%;
    margin: auto;
    border-radius: 20px;
    padding-bottom: 120px;
    box-shadow: 20px 10px 20px;
}

.headed{
    color: white;
}

.score{
    background-color: black;
    width: 150px;
    color: red;
    font-size: 90px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin-top: 20px;
    border-radius: 7px;
    text-shadow: 0 0 4px;
    outline: orangered solid 2px;
}
.score:active{
    border: 1px solid red;
}

.foul{
    background-color: black;
    width: 90px;
    color: green;
    font-size: 60px;
    font-family: 'DotGothic16', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    font-family: 'Cursed Timer ULiL', sans-serif;
}
.texter{
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: start;
    margin-left: 40px;
}
.texted{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 130px;
    
}
button{
    font-size: large;
    background:none;
    border: 2px solid rgb(182, 178, 178);
    color: aliceblue;
    border-radius: 5px;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Cursed Timer ULiL', sans-serif;
}
.owner{
    color: antiquewhite;
    margin-top: 30px;
    font-size: 30px;
}

.resetbtn{
    margin-top: -80px;
}
.foulBtn{
    margin-left: -20px;
}
.winlose{
    color: white;
    margin-top: -120px;
}